# sbt specific
#
target/

# play specific
#
/logs/

# IntelliJ IDEA
#
/.idea/

# OS X
#
.DS_Store

# Unused (these were in the activator template)
#
#/.idea_modules
#/.classpath
#/.project
#/.settings
#/RUNNING_PID
